nav {
    background-color:#FBF9F9;
    opacity: 50%;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    
}
    
img {
    padding:5px;
}
 .navButtons {
    display: flex;
    align-items: center;
 
 }
