#landingPage {
  color: #f24901;
  display: flex;
  flex-direction: column;
  justify-content:center;
  min-height: 100vh;
  flex-grow: 1;
}

.buttonHolder {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.titleImg {
  width: 200px;
  margin: 10px;
}
header {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
p {
  color: #f24901;
}
.outerContainer {
  display: flex;
  
  justify-content: center;
  max-width: 600px;
  margin: 0 auto;
}

.landingCard {
  display: flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  background-color: #121211;
  opacity: 80%;
  border: solid 3px #f24901;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 12.5%;
  text-align: center;
  min-height: 200px; 
  margin: 20px;
  flex: 1;
  
}
.landingCard p {
  max-width:400px;
}
// review form styles 
 form{
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}
form button{
  align-self:center;
}
/*form input, form textarea{
  background-color:#121211;
  border: solid 3px #f24901;
}*/



#buttonRow{
  display:flex;
  flex-direction:row;
}

.landingCard button {
  height:25px;
}
.hidden{
  display:none;
}


@media screen and (min-width: 762px){
.titleImg {
  width: 180px;
  margin: 10px;
}
  .hidden{
  display:flex;
 

}
.landingMain{
  display:flex;
  flex-direction:row;
  justify-content:space-around;
}
.landingCard{
  width:50%;
  flex:1 1 50%;
  min-width:40vw;
}
.landingCard img{
  
   width:100%;
  border-radius: 12.5%;
    object-fit:fill;
    flex:1 1 50%;

}



}