
body{
  margin:0;
  padding:0;
  background-image:url("./assets/images/background-image2.jpg");
  background-size:cover;
  height:100vh;
  background-position: center, center;
 
  background-color: black;
  
}
footer {
position: absolute;
  bottom: 0;
  width: 100%;
}
#main{
 min-height: calc(100vh - 68px);
}






   