body{
  margin:0;
  padding:0;
  background-image:url("./assets/images/background-image2.jpg");
  background-size:cover;
  min-height:100vh;
  min-width:100vw;
  background-position: center, center;
 display: flex;
 flex-direction:column;
  background-color: black;
  color:#f24901;
  
}



